<div class="header">
  <!-- <ng-content></ng-content> -->
  <h1>Header</h1>
</div>
<div class="body">
  <!-- <ng-content></ng-content> -->
  <p>Body</p>
</div>
<div class="footer">
  <ng-content select="i"></ng-content>
</div>