<!-- <app-ng-content-test><i>This is footer</i></app-ng-content-test>

<app-child1 (changeValue) = "displayCounter($event)"></app-child1>
<p>This is from {{counter}}</p> -->
<!-- <app-parent></app-parent> -->
<!-- <app-parent2></app-parent2> -->
<!-- <p>{{datas.data}}</p> -->
<!-- <app-childlocal #datas></app-childlocal>
<p>Hello{{datas.value}}</p> -->
<app-viewchild></app-viewchild>
<button (click)="shows()">click</button>

